html {
    --primary-color: #ec1f55;
    --text-color: #333;

    --dashboard-background-color: #fff;
    --dashboard-border-color: #ebebeb;

    --btn-color: #666;

    --btn-toggle-play-color: #ffffff;
    --progress-background-color: #d3d3d3;
    --progress-slider-background-color: #4caf50;

    --song-bg-color: #fff;
    --song-active-bg-color: #e7dcdc;
    --song-border-color: #ebebeb;
}
